<launch> 
    <include file="$(find turtlebot3_slam)/launch/turtlebot3_slam.launch">
        <arg name="slam_methods" value="gmapping" /> 
        <arg name="open_rviz" value="false" />
    </include>
    <include file="$(find navigation)/launch/turtlebot3_navigation_2.launch">
    </include>
</launch>
